<%- include('../partials/before-header.ejs') %>
<%- include('../partials/header.ejs', { brand: 'My very Cool Webshop' })  %>
<%- include('../partials/navigation.ejs') %>
<main>
    <!-- content here -->
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>
